/* GoT font: https://www.onlinewebfonts.com/download/97c4b25dc74e0ab045154e75a8fdd69d  */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;

  grid-column: 4 / -1;
  grid-row: 1;
}
.header-div {
  display: flex;
  justify-content: space-between;

  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 0%;
  z-index: 1;
}
.header-img {
  width: 100%;
  grid-column: 4 / -1;
  grid-row: 1;
}

.title {
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 221, 0),
    0 0 0.2em rgb(255, 81, 0);
  margin: 10px 0px 0px 25px;
}
.title:hover {
  color: rgb(255, 222, 113);
  margin: 10px 0px 0px 25px;
  cursor: pointer;
}

.search-bar {
  height: 25px;
  width: 200px;
  margin: 30px 40px 5px 0px;
  padding-left: 5px;
  border-radius: 5px;
  border-color: grey;
  color: black;
  border-width: 1px;
  background-color: rgb(240, 245, 255);
}
.search-bar::placeholder {
  color: rgb(6, 6, 6);
  padding-left: 5px;
}

.display-amount {
  font-size: x-small;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}
.header-n-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

/* flex box */
.all-content {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  grid-column: 1 / span 8;
  grid-row: 1;
  margin-top: 50%;
  z-index: 1;
}
.episode {
  width: 250px;
  border: 2px solid lightblue;
  border-radius: 7px;
  margin: 5px;
}
.episode > img {
  border-radius: 7px;
  margin-top: 3px;
}
.tvshow {
  width: 250px;
  border: 2px solid lightblue;
  border-radius: 7px;
  margin: 5px;
}
.tvshow > img {
  border-radius: 7px;
  margin-bottom: 10px;
}
.tvshow:hover {
  cursor: pointer;
}
.ep-img {
  width: 200px;
  /* to centre img in div */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ep-title {
  font-size: 16px;
  text-align: center;
}
.ep-summary {
  font-size: 12px;
  width: 220px;
  /* to centre text in div */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* dropdown */
.dropdown {
  position: relative;
  margin: 30px 100px 0px 0px;
}
.dropdown-button {
  width: 300px;
  border-width: 1px;
  border-radius: 5px;
  height: 25px;
  background-color: rgb(240, 245, 255);
}
.dropdown-button:hover {
  background-color: rgb(214, 228, 253);
}

.menu {
  height: 200px;
  overflow-y: scroll;
  width: 300px;
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.linkedin-icon {
  width: 30px;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 20px 0px 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  margin-top: 15px;
}
.api-txt {
  margin-top: 5px;
  color: black;
}
.api-txt > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.linkedin-container {
  margin-right: 10px;
}
.linkedin-btn {
  padding-right: 15px;
  display: inline-flex;
  color: rgb(29, 97, 156);
  font-size: 18px;
}
.linkedin-btn > span {
  padding-top: 5%;
}
.linkedin-container > a {
  text-decoration: none;
}
