/* GoT font: https://www.onlinewebfonts.com/download/97c4b25dc74e0ab045154e75a8fdd69d  */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: lightblue;
}

.title {
  color: white;
  margin-left: 10px;
}
.title:hover {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar {
  height: 20px;
  width: 200px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 5%;
}

.display-amount {
  font-size: x-small;
}

/* flex box */
.all-episodes {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
}
.episode {
  width: 250px;
  border: 2px solid lightblue;
  border-radius: 7px;
  margin: 5px;
}
.episode > img {
  border-radius: 7px;
  margin-top: 3px;
}
.tvshow {
  width: 250px;
  border: 2px solid lightblue;
  border-radius: 7px;
  margin: 5px;
}
.tvshow > img {
  border-radius: 7px;
  margin-bottom: 10px;
}
.tvshow:hover {
  cursor: pointer;
}
.ep-img {
  width: 200px;
  /* to centre img in div */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ep-title {
  font-size: 16px;
  text-align: center;
}
.ep-summary {
  font-size: 12px;
  width: 220px;
  /* to centre text in div */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* dropdown */
.dropdown {
  position: relative;
  margin-right: 100px;
  margin-top: 30px;
}

.dropdown-button {
  width: 300px;
}
.menu {
  height: 200px;
  overflow-y: scroll;
  width: 300px;
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.linkedin-icon {
  width: 30px;
}
